/* General Styling */

* {
	margin: 0;  
	padding: 0;
	box-sizing: border-box;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.main-wrapper {
max-width: 80%;
margin: 0 auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #626262;
}

.section-header {
	font-family: 'Prociono', serif;
	font-size: 40px;
	margin-bottom: 30px;
}

#content-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 140px;
	position: relative;
	/* overflow-x: hidden; */
}

.section-half {
	width: 48%;
}

.content {
	text-align: justify;
	line-height: 28px;
	margin-bottom: 30px;
}

.section-img {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 400px;
}

.button {
	padding: 15px;
	border-radius: 10px;
	font-size: 13px;
	color: #000000;
	text-decoration: none;	
	transition: 0.5s ease;
}

.button:hover {
	background-color: #0C7025;
	color: white;
}

/* Header Styling */

.header {
	width: 100%;
}

.period {
	color: #0C7025 ;
}

#nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: black;
}

.nav-left {
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	list-style-type: none;
	margin-right: 20px;
}

/* Mobile Menu Styling */

.mobile-menu-container {
	display: none;
}

.mobile-menu-burger {
	width: 17px;
	height: inherit;
}

.burger-closed {
    top: 25px;
    right: 50px;
}

.burger-open {
    top: 25px;
    right: 50px;
}

.display-none {
    display: none;
}

.title {
	font-size: 30px;
}

.nav-right li {
	border: none;
	padding-right: 20px;
}

#nav-bar li:last-of-type {
	padding-right: 0;
	float: right;
}

.nav-link {
	text-decoration: none; 
	font-size: 14px;
	color: #000000;
}

.nav-link:hover {
	color: #0C7025; 
}

.header-img {
	width: 50px;
	height: 50px;
	margin: 15px 20px 15px 15px;
}

/* Hero Section */

.hero {
	width: 100%;
	height: 100%;
	margin-bottom: 140px;
	position: relative;
}

img {
	width: 100%;
	min-width: 50%;
}

.create {
	font-family: 'Prociono', sans-serif;
	position: absolute;
	top: 16%;
	left: 22%;
	font-size: 4vw;
}

.nav-link {
	text-align: -webkit-match-parent;
}

/* Shop Section */

.background-img1 {
	background-size: cover;
	background-position: center;
	position: absolute;
	bottom: 28%;
	left: -47%;
	transform: rotate(154deg);
	width: 50%;
	height: 160%;
}

#video	{
	width: 100%;
	height: 400px;
}

/* Arrivals Section */

.background-img2 {
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 66%;
	right: -27%;
	transform: rotate(-19deg);
	width: 34%;
	height: 85%;
}

.new-arrivals {
	flex-direction: row-reverse;
}

/* About Section */

#about {
	width: 100%;
	margin-bottom: 65px;
	position: relative;
	overflow-x: hidden;
}

.background-img3 {
	background-size: cover;
	background-position: center;
	position: absolute;
	bottom: 62%;
	left: -35%;
	transform: rotate(77deg);
	width: 33%;
	height: 79%;
}

.about-content {
	text-align: center;
	margin-bottom: 45px;
}

.about-images {
	display: flex;
	justify-content: space-between;
}

.store-img {
	background-size: cover;
	background-position: center;
	width: 48%;
	height: 400px;
}

/* Footer Section */

.footer {
	position: relative;
	overflow-x: hidden;
}

.background-img4 {
	background-size: cover;
	background-position: center;
	position: absolute;
	transform: rotate(-93deg);
	right: -36%;
	bottom: 2%;
	width: 34%;
	height: 157%;
}

/* Subscribe Section */

.sub-text {
	margin-bottom: 25px;
}

.subscribe {
	text-align: center;
	margin-bottom: 25px;
}

.header-line {
    border: 0;
    height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-bottom: 30px;
}

.form-container {
	display: inline-block;
	position: relative;
}

.email {
	border: solid 1px #CCC;
	border-radius: 10px;
    height: 34px;
    width: 386px;
	font-size: 14px;
    color: #999;
    padding-left: 8px;
    vertical-align: top;
}

.submit {
	border: solid 1px #CCC;
	border-radius: 10px;
	height: 34px;
    width: 42px;
	color: white;
	position: absolute;
	right: 0;
	background-color: #626262 ;
	transition: 0.5s ease;
}

.submit:hover {
	background-color: #0C7025;
}
#submit {
	display: none;
}

.socials {
	text-align: center;
	margin-bottom: 65px;
}

.social-link {
	border: none;
	background-color: white;
	padding: 0 30px 0 30px;
}

#bottom {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.bottom-left button {
	border: none;
	margin-bottom: 27px;
	padding-left: 10px;
	background-color: white;
}

.foot-link {
	color: #000000;
	text-decoration: none;
}

.foot-link:hover {
	color: #0C7025;
}

.bottom-right {
	font-size: 12px;
}