@media only screen and (max-width: 991px) {

    .main-wrapper {
        max-width: 90%;
    }
}
    
@media only screen and (max-width: 768px) {
   
    .nav-right {
        display: none;
    }
    
    .mobile-menu-container {
        display: block;
        padding-right: 15px;
    }

    .mobile-menu {
        width: 90%;
        height: auto;
        position: absolute;
        top: 80px;
        left: 5%;
        z-index: 1;
        background-color: white;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-align: center;
    }

    .mobile-menu li {
        padding: 15px 0 15px 0;
        display: block;
        position: relative;
        border-bottom: #dddddd 1px solid;
    }
   
    .hero {
        margin-bottom: 50px;
    }

    .background-img1 {
        bottom: -5%;
        left: -41%;
        transform: rotate(147deg);
        width: 46%;
    }

    .background-img3 {
        bottom: 57%;
        left: -28%;
        width: 31%;
        transform: rotate(90deg);
    }


    .content-section {
        flex-direction: column;
        margin-bottom: 10px;
        text-align: center;
    }

    .section-half {
        width: 100%;
        margin-bottom: 50px;
    }

    .content {
        text-align: center;
    }

    #bottom {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

    }

    .bottom-left button {
        margin-bottom: 15px;
    }

    .video-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #video {
        width: inherit;
    } 
}
   
@media only screen and (max-width: 576px) {
    
    #about {
        margin-bottom: 10px;
    }

    .about-images {
        flex-direction: column;
    }

    .store-img {
        width: 100%;
        margin-bottom: 50px;
    }
    
    .form-container {
        width: 90%;
    }

    .email {
        width: 100%;
    }

    .bottom-left {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .leaf-img {
        display: none;
    }
}